<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Роли</title>
</head>
<body>
<nav th:replace="/fragments/header :: copy"></nav>

<div class="container-flux p-5">
    <div class="w-50 m-auto">
        <h4>Привилегии пользователей:</h4>
        <table class="table">
            <thead class="bg-info text-white text-center">
            <tr>
                <th scope="col">Идентификатор</th>
                <th scope="col">Наименование</th>
                <th scope="col">Доступ к разделам</th>
                <th scope="col">Актуальность</th>
                <th scope="col" colspan="2">
                    <a th:href="@{'/content/directories/add'}">
                        <img src="/images/bootstrap-icons/person-plus.svg" alt="" width="20" height="20" title="Добавить роль"/>
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="role : ${roles}">
                <td th:text="${role.symbol}" class="align-middle" ></td>
                <td th:text="${role.name}" class="align-middle text-nowrap" ></td>
                <td class="align-middle">
                    <ul class="list-unstyled mb-0">
                        <li th:each="page: ${role.pages}" th:text="${page.name}"></li>
                    </ul>
                </td>
                <td class="align-middle text-center">
                    <input type="checkbox" th:checked="${role.active}"/>
                </td>

                <td class="align-middle" >
                    <a th:href="'/content/directories/edit/role/'+${role.id}">
                        <img src="/images/bootstrap-icons/pencil.svg" alt="" width="20" height="20" title="Редактировать"/>
                    </a>
                </td>
                <td class="align-middle" >
                    <a th:href="'/content/directories/delete/role/'+${role.id}"
                       title="Удалить"
                       data-toggle="modal"
                       th:data-target="'#exampleModal_'+${role.id}">
                        &#10060;
                    </a>
                </td>
                <div class="modal" tabindex="-1" role="dialog" th:id="'exampleModal_'+${role.id}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Подтверждение удаления пользователя</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p th:text="${role.symbol}+' - '+${role.name}"></p>
                                <p>Вы уверены, что хотите продолжить?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                <a th:href="'/content/directories/delete/role/'+${role.id}" class="btn btn-success">Продолжить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            <tr><td class="text-center" colspan="6">
                <a th:href="@{'/content/control/directories'}" class="btn btn-secondary w-25">Назад</a>
            </td></tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery-3.5.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>