<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/signin.css">

    <title>Управление продуктами</title>
</head>
<body>
<nav th:replace="/fragments/header :: copy"></nav>
<div class="container-flux p-5">
    <div class="list-group w-25 m-auto">
        <a href="/content/products/stat" class="list-group-item list-group-item-action">Статистика товаров</a>
        <a href="/content/categories/new" class="list-group-item list-group-item-action">Создать новую номенклатуру</a>
        <a href="/content/products/archive" class="list-group-item list-group-item-action">Перевести номенклатуру в архив</a>
        <a href="/content/products/edit" class="list-group-item list-group-item-action">Изменить номенклатуру</a>
        <a href="/" class="list-group-item list-group-item-action">Назад</a>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery-3.5.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>