<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/signin.css">

    <title>Пользователи</title>
</head>
<body>
<nav th:replace="/fragments/header :: copy"></nav>

<div class="container-flux p-5">
    <div class="w-50 m-auto">
        <!--        Поле для поиска       -->
        <div class="form-group">
            <input type="search" class="form-control" id="find" placeholder="&#128270; Найти"/>
        </div>
        <table class="table">
            <thead class="bg-info text-white text-center">
            <tr>
                <th scope="col">Логин</th>
                <th scope="col">ФИО</th>
                <th scope="col">E-mail</th>
                <th scope="col">Телефон</th>
                <th scope="col">Привилегии</th>
                <th scope="col" colspan="2">
                    <a th:href="@{'/content/users/add'}">
                        <img src="/images/bootstrap-icons/person-plus.svg" alt="" width="20" height="20" title="Добавить пользователя"/>
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}" class="align-middle" ></td>
                <td th:text="${user.fullname}" class="align-middle text-nowrap" ></td>
                <td th:text="${user.email}" class="align-middle" ></td>
                <td th:text="${user.phone}" class="align-middle text-nowrap" ></td>
                <td class="align-middle">
                    <ul class="list-unstyled mb-0">
                        <li th:each="role: ${user.roles}" th:text="${role.name}"></li>
                    </ul>
                </td>
                <td class="align-middle" >
                    <a th:href="'/content/users/edit?username='+${user.username}">
                        <img src="/images/bootstrap-icons/pencil.svg" alt="" width="20" height="20" title="Редактировать"/>
                    </a>
                </td>
                <td class="align-middle" >
                    <a th:href="'/content/users/delete?username='+${user.username}"
                       title="Удалить"
                       data-toggle="modal"
                       th:data-target="'#exampleModal_'+${user.id}">
                        &#10060;
                    </a>
                </td>
                <div class="modal" tabindex="-1" role="dialog" th:id="'exampleModal_'+${user.id}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Подтверждение удаления пользователя</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p th:text="${user.username}+' - '+${user.fullname}"></p>
                                <p>Вы уверены, что хотите продолжить?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                <a th:href="'/content/users/delete?username='+${user.username}" class="btn btn-success">Продолжить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            <tr><td class="text-center" colspan="6">
                <a th:href="@{'/'}" class="btn btn-secondary w-25">Назад</a>
            </td></tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery-3.5.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>