<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Изменить товар</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>Изменить товар</h1>
    <form th:action="@{/products/edit}" th:object="${product}" method="POST">
        <input hidden th:field="*{id}"/>
        <br>
        Name: <input th:field="*{title}"/>
        <br>
        Description: <input th:field="*{description}"/>
        <br>
        Quantity: <input th:field="*{quantity}"/>
        <br>

        <div class="form-group">
            <label>Категории</label>
            <div class="form-check" th:each="c : ${@categoriesService.getAllCategories()}">
                <input type="checkbox" class="form-check-input" name="categories" th:value="${c.id}" th:checked="${#sets.contains(product.categories, c)}">
                <label class="form-check-label" th:text="${c.title}"></label>
                <span th:text="${param.categories}"/>
            </div>
        </div>
        <input type="submit" value="Сохранить" />
    </form>
    <br>
</body>
</html>