<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <title>Ошибка</title>
</head>
<body>
<div class="container-flux">
    <h5 class="text-center bg-danger text-white p-5">При загрузке страницы произошла ошибка</h5>
    <table class="table">
        <tbody>
        <tr>
            <th scope="col" class="text-right">Status code:</th>
            <td th:text="${error.statusCode}+' &ndash; '+${error.reasonPhrase}"></td>
        </tr><tr>
            <th scope="col" class="text-right">Exception message:</th>
            <td th:text="${error.exceptionMessage}"></td>
        </tr><tr>
            <th scope="col" class="text-right">Error message:</th>
            <td th:text="${error.errorMessage}"></td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery-3.5.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>