<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="copy" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="account" th:text="${name}">Имя пользователя</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Выйти</a>
            </li>
        </ul>
    </div>
</nav>
</html>