<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/signin.css">

    <title>Администрирование</title>
</head>
<body>
<nav th:replace="/fragments/header :: copy"></nav>
<div class="container-flux p-5">
    <div class="list-group w-25 m-auto">
        <a href="/content/control/products" class="list-group-item list-group-item-action">Управление товарами</a>
        <a href="/content/control/warehouses" class="list-group-item list-group-item-action">Управление складами</a>
        <a href="/content/control/users" class="list-group-item list-group-item-action">Управление пользователями</a>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery-3.5.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>