<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{'/css/warehouse.css'}">
    <title>Список пользователей</title>
</head>
<body>

<div th:replace="~{/fragments/navigation :: navigation(users)}"></div>
<div class="container-flux content">
    <div class="w-50 m-auto">
    <!--        Поле для поиска       -->
        <div class="form-group">
            <input type="search" class="form-control" id="find" placeholder="&#128270; Найти"/>
        </div>
        <table class="table">
            <thead class="bg-info text-white text-center">
                <tr>
                    <th scope="col">Логин</th>
                    <th scope="col">ФИО</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Телефон</th>
                    <th scope="col">Роли</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.login}" class="align-middle" ></td>
                <td th:text="${user.fullname}" class="align-middle text-nowrap" ></td>
                <td th:text="${user.email}" class="align-middle" ></td>
                <td th:text="${user.phone}" class="align-middle text-nowrap" ></td>
                <td class="align-middle">
                    <ul class="list-unstyled mb-0">
                        <li th:each="role: ${user.roles}" th:text="${role.name}"></li>
                    </ul>
                </td>
                <td class="align-middle" >
                    <a th:href="@{'/users/edit?username='+${user.login}}">
                        <img src="images/bootstrap-icons/pencil.svg" alt="" width="20" height="20" title="Редактировать"/>
                    </a>
                </td>
                <td class="align-middle" >
                    <a th:href="@{'/users/delete?username='+${user.login}}" title="Удалить" data-toggle="modal" th:data-target="'#exampleModal_'+${user.id}">
                        &#10060;
                    </a>
                </td>
                <div class="modal" tabindex="-1" role="dialog" th:id="'exampleModal_'+${user.id}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Подтверждение удаления пользователя</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p th:text="${user.login}+' - '+${user.fullname}"></p>
                                <p>Вы уверены, что хотите продолжить?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                <a th:href="@{'/users/delete?username='+${user.login}}" class="btn btn-success">Продолжить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>