<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/signin.css">

    <title>Управление продуктами</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="account" th:text="${name}">Имя пользователя</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="logout">Выйти</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-flux p-5">
    <div class="w-50 m-auto">
    <!--        Поле для поиска       -->
        <div class="form-group">
            <input type="search" class="form-control" id="find" placeholder="&#128270; Найти"/>
        </div>
        <table class="table">
            <thead class="bg-info text-white text-center">
                <tr>
                    <th scope="col">Логин</th>
                    <th scope="col">ФИО</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Телефон</th>
                    <th scope="col">Роли</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}" class="align-middle" ></td>
                <td th:text="${user.fullname}" class="align-middle" ></td>
                <td th:text="${user.email}" class="align-middle" ></td>
                <td th:text="${user.phone}" class="align-middle" ></td>
                <td class="align-middle">
                    <ul class="list-unstyled mb-0">
                        <li th:each="role: ${user.roles}" th:text="${role.name}"></li>
                    </ul>
                </td>
                <td class="align-middle" >
                    <a th:href="'/content/users/edit?username='+${user.username}">
                        <img src="/images/bootstrap-icons/pencil.svg" alt="" width="20" height="20" title="Edit"/>
                    </a>
                </td>
            </tr>
            <tr><td class="text-center" colspan="6">
                <a href="/content/control/users" class="btn btn-secondary text-center w-25">Назад</a>
            </td></tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery-3.5.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>