<div th:fragment="navigation(activeTab)" class="container-flux" id="header">
    <div class="row align-items-center">
        <div id="logo-2" class="col">
            Склад
        </div>
        <div id="user-account-link" class="col-auto">
            <a href="#" th:text="${@usersService.findLoggedInUser().get().getFullname()}"></a>
        </div>
        <div id="logout-link" class="col-1">
            <a th:href="@{'/logout'}">Выход</a>
        </div>
    </div>
    <div class="row mh-100 align-items-start">
        <div id="nav-links-2" class="col">
            <nav class="nav">
                <a class="nav-link"  th:classappend="${activeTab == 'categories' ? 'active' : ''}" th:href="@{'/categories'}">Категории</a>
                <a class="nav-link"  th:classappend="${activeTab == 'products' ? 'active' : ''}" th:href="@{'/products'}">Товары</a>
                <a class="nav-link"  th:classappend="${activeTab == 'users' ? 'active' : ''}" th:href="@{'/users'}">Сотрудники</a>
            </nav>
        </div>
    </div>
</div>